body {
    background-color: cornflowerblue;
    font-family: Arial;
    font-size: 15px;
}

.header {
    padding: 20px;
    text-align: right;
    background-color: chartreuse;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    margin-right: 40px;
    font-weight: bolder;
}

.filler {
    text-align: center;
}

form {
    background-color: darkgreen;
}

